span[class^="psi--"] {
  display: inline-block;
  padding: 2px 8px 0 8px;
  border: 1px solid;
  border-radius: 15px;
  letter-spacing: 0.05rem;
  cursor: default;
  line-height: 1rem;
  background-color: #F3F4FE;
  color: #6B728E;
  border-color: #6B728E;
}
